{% extends 'base.html' %}
{% from 'macro/formhelper.html' import render_field  %}


{% block title %}
    Login 
{% endblock %}

{% block content %}
    <h1>Login:</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
    {% endif %}

    <form method="post">
        {{ form.csrf_token() }}

        {% for field in ['email', 'password']%}
            {{ render_field(form[field]) }}
        {% endfor %}
        <div>{{form.submit(class="btn btn-primary btn-lg") }}</div>
    </form>
{% endblock %}